@charset "utf-8";
/* CSS Document */

i{
	font-size: 18px;
	padding-right: 10px;
}

.readonly { 
	background:#DBDBDB;
}
#map {    
	
	width: 100%;
	
	height: 100%;  
	
}	


.page_padding { 
	padding-left: 20px;
	padding-right: 20px;

}

.status span { 
	display: inline-block;

}
a:hover { 
	text-decoration: none;
}